<!DOCTYPE html>
<html>
<head>
  <title>Fum</title>
  <%= stylesheet_link_tag    "fum/application", media: "all" %>
  <%= javascript_include_tag "fum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
